body {
    background: url(z36.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    line-height: 1.6;
}
body {
  font-family: Arial, sans-serif;
  background-color: #d9ff00;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  margin: 0;
  font-size: 24px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ff6600;
}

.header {
    background: url(z35.jpg);
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fbff00;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
   text-decoration: none;
   color: #fff;
   font-size: 16px;
}

.nav ul li a:hover {
    color: #FFD700;
}


.album-section {
    background: url(z34.jpg);
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

.album-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.album-cover img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.tracklist {
    max-width: 400px;
}


.tracklist h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.tracklist ul {
    list-style: none;
    padding: 0;
    text-align: left;
}


.tracklist ul li { 
    font-size: 18px;
    margin-bottom: 10px;
}


.gallery-section {
    background: url(z35.jpg);
    padding: 40px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}


.gallery-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #FFD700;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.gallery img {
    
 
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}


.footer {
    background-color: #000000;
    color: #e5ff00;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 10px 0;
    font-size: 16px;
}